<div class=" mt-4 lg:mt-16">
    <section class="px-[5%] xl:px-0 relative">
        <h2 class="text-2xl font-bold mb-5 lg:mb-2">NewsLetter</h2>
        <p class="pb-28 md:pb-14 my-2 text-center md:text-left ">The most effective, anonymous reporting system for crime in the nation.</p>
        <div class=" w-full sm:w-[unset] flex flex-col md:flex-row gap-2 items-center absolute left-1/2 -translate-x-1/2 -bottom-[30px] z-10 ">
            <input  type="email"  class="text-sm p-3 h-12 w-[90%] sm:w-[400px] rounded-md outline-none border border-[gainsboro]" placeholder="Type your email here" >
            <button class="px-10 py-2 h-12 rounded-md bg-primaryRed text-white text-sm lg:text-base ">Subscribe</button>
        </div>
    </section>
</div>