{% load static %}

<section data-section="2" class="hide px-[5%] xl:px[0] flex flex-col" >
    <h2 class="text-center text-2xl font-bold mb-2 sm:mb-14 ">Report</h2>
    <p class="text-center my-10" >Hello dear! kindly fill the form below so as  to give us an insight on <br class="hidden sm:block" > your interest and how we can be of help  </p>
    <div class="timeline flex items-center mx-auto justify-center">
            <div class=" group relative active flex flex-col justify-center">
                <div class="circle text-sm  circle-1  ">1</div>
                <p class=" text-[10px] active  sm:text-xs w-max left-1/2 -translate-x-1/2 -bottom-6 no-wrap absolute" >Career path | Interest</p>
            </div>
            <div class="indicator indicator-1 !bg-primaryRed"></div>
            <div class=" group active relative flex flex-col justify-center">
                <div class="circle text-sm  circle-2">2</div>
                <p class=" text-[10px] sm:text-xs w-max left-1/2 -translate-x-1/2 -bottom-6 no-wrap absolute" >Career path | Interest</p>
            </div>
            <div class="indicator indicator-2"></div>
        <div class="group3 relative flex flex-col justify-center">
            <div class="circle text-sm  circle-3">3</div>
            <p class=" text-[10px] sm:text-xs w-max left-1/2 -translate-x-1/2 -bottom-6 no-wrap absolute" >Experience | Challenges</p>
        </div>
    </div>  
    <div class="mx-auto mt-16 w-full md:w-[600px] p-[5%] border border-[gainsboro] rounded-md shadow-sm my-6">
        <h3 class="font-semibold text-xl mb-6">Regarding</h3>
        <p class="mb-2 font-medium !text-base md:!text-lg ">What is this tip regarding?</p>
        <div class="ml-5">
            <div class="flex gap-3 mb-1 items-center">
                <input type="checkbox" name="regarding" id="school" value="School">
                <label for="school">School</label>
            </div>
            <div class="flex gap-3 mb-1 items-center">
                <input type="checkbox" name="regarding" id="terrorism" value="Terrorism">
                <label for="terrorism">Terrorism</label>
            </div>
            <div class="flex gap-3 mb-1 items-center">
                <input type="checkbox" name="regarding" id="coporation" value="Coporation">
                <label for="coporation">Coporation</label>
            </div>
            <div class="flex gap-3 mb-1 items-center">
                <input type="checkbox" name="regarding" id="welfare_fraud" value="Welfare Fraud">
                <label for="welfare_fraud">Welfare Fraud</label>
            </div>
            <div class="flex gap-3 mb-1 items-center">
                <input type="checkbox" name="regarding" id="others" value="Others">
                <label for="others">Others</label>
            </div>
        </div>
        <div class="flex gap-2 sm:gap-4 justify-end mt-10 mb-4">
            <button type="button" data-prevStep2 class="w-28 justify-center items-center rounded-md border border-primaryRed flex py-2 gap-2" >
                <img src="{% static 'images/prev.svg' %}" class=" w-4 "  alt="prev">
                <span class="text-sm">Prev</span>
            </button>
            <button type="button" data-nextStep2 class="w-28 justify-center items-center rounded-md bg-primaryRed flex py-2 gap-2" >
                <span class="text-sm text-white">Next</span>
                <img src="{% static 'images/next.svg' %}" class="w-4" alt="next">
            </button>
        </div>
    </div>
</section>