{% load static %}
<footer class="bg-black !text-[13px] md:!text-sm text-white absolute w-full" >
    <section class="text-[rgba(255,255,255,.6)] px-[5%] xl:px-0 py-10 pt-24">
        <div class="flex justify-between gap-6 flex-wrap  !text-[13px] md:!text-sm ">
            <div class="w-full lg:w-fit mb-5 mx-auto flex lg:block justify-center " ><img src="images/logo-white.png" alt=""></div>
            <div>
                <p class="text-white font-semibold mb-2" >About</p>
                <p class="mb-1">About Us</p>
                <p class="mb-1">Career</p>
                <p class="mb-1">Services</p>
            </div>
            <div>
                <p class="text-white font-semibold mb-2" >Support</p>
                <p class="mb-1">Contact Us</p>
                <p class="mb-1">Twitter</p>
                <p class="mb-1">LinkedIn</p>
            </div>
            <div>
                <p class="text-white font-semibold mb-2" >FAQs</p>
                <p class="mb-1">Account</p>
                <p class="mb-1">Tips</p>
                <p class="mb-1">Anonymity</p>
            </div>
            <div>
                <p class="text-white font-semibold mb-2" >About</p>
                <p class="mb-1">About Us</p>
                <p class="mb-1">Blog</p>
                <p class="mb-1">Career</p>
                <p class="mb-1">Jobs</p>
            </div>
            <div class="socials w-full lg:w-fit mx-auto flex lg:block flex-col items-center ">
                <p class="text-white font-semibold mb-2" >Social Media</p>
                <p class="leading-tight text-center lg:text-left  ">Be the first one to know  about discounts, <br/> offers, news, giveaways and events.</p>
                <div class="flex mt-5 space-x-4">
                    <img class="w-5 cursor-pointer" src="{% static 'images/facebook-svgrepo-com.svg' %}" alt="">
                    <img class="w-5 cursor-pointer" src="{% static 'images/instagram-svgrepo-com.svg' %}" alt="">
                    <img class="w-5 cursor-pointer" src="{% static 'images/linkedin-svgrepo-com.svg' %}" alt="">
                    <img class="w-5 cursor-pointer" src="{% static 'images/twitter-svgrepo-com.svg' %}" alt="">
                </div>
            </div>
        </div>
        <p class="text-center mt-10 text-[rgba(255,255,255,.9)]">©Sulby_ee 1988-2022, All Rights Reserved</p>
    </section>
</footer>